/* --- typography and colors --- */
:root {
	--headingFont: "Source Sans Pro", sans-serif;
	--bodyFont: Georgia, serif;
	--mainBorder: solid 1px #ab987a;
	--primaryColor: #ab987a;
	--secondaryColor: #ff533d;
	--backgroundColor: #f5f5f5;
	--fontBlack: #0f1626;
	--fontColor: #ff533d;
}

/* --- wrapping --- */
body {
	background-color: var(--backgroundColor);
	overflow-x: hidden;
	margin: 0 3em;
}
.page {
	width: 100%;
	float: left;
	transition: width 0.4s linear;
}

.content {
	padding: 1em 2em;
}

/* --- header --- */
header {
	border-bottom: var(--mainBorder);
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
header h1 {
	margin: 0;
	font-size: 1.5em;
	font-family: var(--headingFont);
	color: var(--fontBlack);
	align-self: center;
}
header h1 a {
	text-decoration: none;
	color: var(--fontBlack);
}
.authNav, .menuNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.profileLink img {
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 5px;
}
.menuLink img {
	height: 35px;
}
.profileLink {
	margin-right: 1.2em;
}
.menuLink:hover, .profileLink:hover {
	cursor:pointer;
}

/* --- slide navigation --- */
.menuSlide {
	background: var(--primaryColor);
	min-height: 100vh;
	padding: 1em;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.4s linear;
}
.navigationOpen .menuSlide {
	transform: translateX(0);
}
.close {
	border: #fff solid 1px;
	display: inline-block;
	color: #fff;
	padding: 0.5em;
	border-radius: 50%;
	font-size: 1em;
	width: 40px;
	height: 40px;
	margin: 0 0 3em 0;
	text-align: center;
}
.close:hover {
	cursor: pointer;
}
.forms input {
	background: #fff;
}
.loginWrap, .registerWrap {
	padding: 1em;
}
.menu {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
	font-family: var(--headingFont);
	padding: 0.5em;
}
.menu a:hover {
	color: #d3d3d3;
}

/* --- cookie box --- */
.acceptCookies {
	align-items: center;
  background: var(--primaryColor);
  color: #fff;
  display: none;
  justify-content: space-between;
  left: 0;
  padding: 0 0.5em;
  position: absolute;
  top: 0;
  width: 100%;
	font-family: var(--headingFont);
}
.acceptCookies a {
	color: #fff;
}
.acceptCookies.cookieShow {
	display: flex;
}
.cookieButton {
	border: solid 1px white;
}
.cookieButton:hover {
	cursor:pointer;
	color: var(--primaryColor);
	background: #fff;
}
/* --- Error messages --- */
.error, .settingsError, .message, .jsMessage {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
/* login and reg errors */
.error {
	top: 0;
}
/* settings and post errors */
.settingsError, .message, .jsMessage {
	bottom: 0;
	background: black; /* change color */
}
.jsMessage {
	display: none;
}
.showError {
	display: block;
}
/* --- auth page --- */
.authMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/* --- home page --- */
.homeMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* new post */
.newPost {
	border: var(--mainBorder);
	background: var(--backgroundColor);
}
.newPost h4 {
	font-family: var(--headingFont);
	font-size: 1.5em;
	margin: 0.5em;
	border-bottom: var(--mainBorder);
}
.newPostFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.newPostFields input[type="text"] {
	height: 2em;
	margin: 0.5em auto;
	background: #fff;
	width: 80%;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
	font-size: small;
}
.newPostFields input[type="submit"] {
	width: 100px;
	border: var(--mainBorder);
	margin: 0.5em auto;
}
/* sort posts */
.sortPosts {
	margin: 1em 0 0;
	text-align: center;
}
.sortPosts input {
	margin: 0 2em;
	border: var(--mainBorder);
	padding: 0.5em;
	background: #fff;
	width: 200px;
}
.sortPosts input:hover {
	cursor: pointer;
}
/* --- existing posts --- */
.displayPosts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.postAndVoteWrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.voteWrap {
	padding: 1em 0;
	width: 8%;
	border-right: var(--mainBorder);
	text-align: center;
}
.postWrap {
	width: 92%;
	padding: 1em;
}
.up, .down {
	display: block;
	margin: auto;
	width: 1.2em;
	height: 1.2em;
	border-top: gray 3px solid;
	border-left: gray 3px solid;
	border-radius: 3px;
}
.up {
	transform: rotate(45deg);
}
.down {
	transform: rotate(225deg);
}
.notLoggedIn, .notLoggedInVotes {
	opacity: 0.3;
}
.up:hover {
	border-top: lightgreen 3px solid;
	border-left: lightgreen 3px solid;
	cursor: pointer;
}
.down:hover {
	border-top: lightpink 3px solid;
	border-left: lightpink 3px solid;
	cursor: pointer;
}
.post {
	border: var(--mainBorder);
	margin: 1em 0;
	background: var(--backgroundColor);
	padding: 0.5em;
}
.postDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.post h4 {
	font-family: var(--headingFont);
	font-size: 1.5em;
	margin: 0.5em;
	border-bottom: var(--mainBorder);
	color: var(--fontBlack);
}
.post h4 a, .postUser a {
	text-decoration: none;
	color: var(--fontBlack);
}
.post h4 a:hover, .postUser a:hover {
	color: #ff533d;
}
.postContent p, .loginLink {
	font-family: var(--bodyFont);
	font-size: 0.9em;
	margin: 0 1em;
	color: var(--fontBlack);
}
.postContentHide {
	display: none;
}
.postUser {
	margin: 0.5em 0;
	font-size: 0.8em;
	font-style: italic;
	color: #6c6c6c;
	font-family: var(--bodyFont);
}
.postButtons {
	margin: 0.5em;
	font-family: var(--headingFont);
	font-size: small;
}
.showPostSettings img {
	width: 20px;
	margin: 0;
	border-radius: 50%;
	transition: transform 0.5s linear;
}
.showPostSettings img:hover {
	cursor: pointer;
	transform: rotate(90deg);
}
.postSettingsButtons {
	display: none;
}
.postSettingsButtonsShow {
	display: inline-block;
	margin: 0 0.5em;
}
.editButton, .deleteButton {
	border: var(--mainBorder);
	height: 2em;
	margin: 0 0.5em 0 0;
}
.inputComment input[type="text"] {
	height: 2em;
	width: 80%;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
	font-size: small;
}
.inputComment input[type="submit"] {
	border: var(--mainBorder);
	height: 2em;
	margin: 0 0.5em;
	font-size: small;
}
.inputComment input[type="submit"]:hover, .editButton:hover, .deleteButton:hover {
	background: var(--primaryColor);
	color: #fff;
	cursor: pointer;
}
.inputComment {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* hidden form for edit posts */
.editPostForm {
	display: none;
}
.editPostFormShow {
	display: block;
}
.editPostForm form {
	font-family: var(--bodyFont);
	font-size: small;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.editInputField input[type="text"] {
	height: 2em;
	width: 80%;
	margin: 0.5em;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
}
 .editPostForm input[type="submit"] {
	 border: var(--mainBorder);
	 height: 2em;
	 margin: 0;
	 width: 70px;
 }
 .editPostForm input[type="submit"]:hover {
	 background: var(--primaryColor);
	 color: #fff;
	 cursor: pointer;
 }

/* comments */
.commentCount {
	font-family: var(--bodyFont);
	font-size: small;
	margin: 1em;
}
.commentCount a {
	text-decoration: none;
	color: gray;
}
.commentCount a:hover {
	color: var(--primaryColor);
}
.comments {
	display: none;
}
.commentsShow {
	display: block;
	margin: 1em;
	font-size: small;
	border-top: var(--mainBorder);
	font-family: var(--bodyFont);
}
.comment {
	margin: 0 0 0.5em 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
.commentHide {
	display: none;
}
.commentContent {
	margin-bottom: 0;
}
.commentPublished {
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
}
.editCommentForm {
	display: none;
}
.editCommentFormShow {
	display: block;
}
.replyForm form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.replyButton, .replyFields input[type="submit"] {
	border: var(--mainBorder);
	height: 2em;
	margin-right: 0.5em;
}
.replyButton:hover, .replyFields input[type="submit"]:hover {
	background: var(--primaryColor);
	color: #fff;
	cursor: pointer;
}
.replyFields input[type="text"] {
	height: 2em;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
	margin-right: 0.5em;
}
.replyFields {
	display: none;
}
.replyFieldsShow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.commentReply {
	border-top: var(--mainBorder);
	margin: 0 0 1em 2em;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

/* --- profile page --- */
.profileWrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.displayUserProfile {
	width: 200px;
	margin: 0 2em;
	text-align: center;
}
.displayUserProfile h4, h5 {
	margin: 0;
}
.displayUserProfile figure {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.displayUserProfile figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* --- settings page --- */
.settingsForm {
	width: 60%;
}
.settingsForm input, textarea {
	border: var(--mainBorder);
	color: gray;
}
.placeholderAvatar {
	width: 200px;
	height: 200px;
	border: var(--mainBorder);
}
.placeholderAvatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* --- responsive properties, mobile first --- */
.displayPosts, .newPost {
	width: 100%;
}
.menuSlide {
	width: 100%;
}
@media only screen and (min-width: 400px) {
	.displayPosts, .newPost {
		width: 100%;
	}
	.menuSlide {
		width: 300px;
	}
}
@media only screen and (min-width: 800px) {
	.displayPosts, .newPost {
		width: 800px;
	}
}
