/* --- typography and colors --- */
:root {
	--headingFont: "Source Sans Pro", sans-serif;
	--bodyFont: Georgia, serif;
	--mainBorder: solid 1px #ab987a;
	--primaryColor: #ab987a;
	--secondaryColor: #ff533d;
	--backgroundColor: #f5f5f5;
	--fontBlack: #0f1626;
	--fontColor: #ff533d;
}

/* --- wrapping --- */
body {
	background-color: var(--backgroundColor);
	overflow-x: hidden;
}
.page {
	width: 100%;
	min-height: calc(100vh - 80px);
}
footer {
	width: 100%;
	text-align: center;
	padding: 1em 0;
	height: 80px;
}

.content {
	padding: 0.5em;
}

/* --- header --- */
header {
	border-bottom: var(--mainBorder);
	padding: 1.5em 1em 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.leftHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
header h1 {
	margin: 0 0 -0.3em 0;
	padding: 0;
	font-family: "Syncopate", sans-serif;
	color: var(--fontBlack);
}
.leftHeader a {
	text-decoration: none;
	color: var(--fontBlack);
}
.leftHeader img {
	padding: 0 0.7em 0 0;
}
.authNav, .menuNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.profileLink img {
	object-fit: cover;
	border-radius: 5px;
}
.profileLink {
	margin: 0 0.5em 0 0;
}

.menuLink:hover, .profileLink:hover {
	cursor:pointer;
}
/* sort posts form in header */
.sortPosts {
	margin: 0 1.2em 0 0;
	text-align: center;
}
.sortPosts input {
	margin: 0;
	border: solid 1px #ab987a;
	border-radius: 5px;
	font-family: var(--headingFont);
	color: var(--fontBlack);
}
.sortPosts input:hover {
	cursor: pointer;
	background: var(--primaryColor);
	color: var(--backgroundColor);
}
.sortMethod {
	background: rgba(171,152,122,0.4);
}
/* --- slide navigation --- */
.menuSlide {
	background: var(--primaryColor);
	min-height: 100vh;
	padding: 1em;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.4s linear;
}
.navigationOpen .menuSlide {
	transform: translateX(0);
}
.menuClose {
	border: #fff solid 1px;
	display: inline-block;
	color: #fff;
	padding: 0.5em;
	border-radius: 50%;
	font-size: 1em;
	width: 40px;
	height: 40px;
	margin: 0 0 1em 0;
	text-align: center;
}
.menuClose:hover {
	cursor: pointer;
}
/* authentication page */
.loginWrap, .registerWrap {
	margin: 0 auto;
}
.forms form {
	display: flex;
	flex-direction: column;
}
.forms h3 {
	font-family: var(--headingFont);
	color: var(--fontBlack);
	font-size: 1.5em;
}
.forms input {
	background: var(--backgroundColor);
	font-size: small;
	height: 2em;
	margin: 0.3em 0;
	padding-left: 0.5em;
}
.forms input[type="checkbox"] {
	padding: 0;
	margin: 0;
	height: auto;
	display: inline-block;
}
.forms label {
	color: var(--fontBlack);
	font-family: var(--headingFont);
	margin-left: 0.5em;
}
.forms input[type="submit"] {
	width: 100px;
}
.forms input[type="submit"]:hover {
	background: var(--primaryColor);
	color: #fff;
	border: 2px solid #fff;
	cursor: pointer;
}
/* when user is logged in */
.menu {
	text-align: center;
}
.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
	font-family: var(--headingFont);
	padding: 0.5em;
}
.menu a:hover {
	color: var(--fontBlack);
}

/* --- cookie box --- */
.acceptCookies {
	align-items: center;
  background: var(--primaryColor);
  color: #fff;
  display: none;
  justify-content: space-between;
  left: 0;
  padding: 0 1em;
  position: absolute;
  top: 0;
  width: 100%;
	font-family: var(--headingFont);
}
.acceptCookies a {
	color: #fff;
}
.acceptCookies a:hover {
	color: var(--fontBlack);
}
.acceptCookies.cookieShow {
	display: flex;
}
.cookieButton {
	border: solid 1px white;
	font-size: small;
}
.cookieButton:hover {
	cursor:pointer;
	color: var(--primaryColor);
	background: var(--backgroundColor);
}
/* --- Error messages --- */
.error, .settingsError, .message, .jsMessage {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
	background: var(--secondaryColor);
	bottom: 0;
	z-index: 200;
}
.jsMessage {
	display: none;
}
.showError {
	display: block;
	z-index: 200;
}
/* --- auth page --- */
.authMain {
	margin: 0 auto;
}
/* --- home page --- */
.homeMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* --- new post form --- */
.clickToShowNewPostForm {
	text-align: right;
	font-family: var(--headingFont);
	color: var(--fontColor);
	margin: 0;
	padding: 0;
}
.clickToShowNewPostForm:hover {
	cursor: pointer;
	color: var(--primaryColor);
}
.newPostWrap {
	position: fixed;
	top:0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.7);
	z-index: 100;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.showNewPostForm {
	display: flex;
}
.newPost {
	width: 500px;
	height: 300px;
	border: var(--mainBorder);
	background: var(--backgroundColor);
}
.newPostHeading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1em;
	height: 3em;
	border-bottom: var(--mainBorder);
}
.newPostHeading h4 {
	font-family: var(--headingFont);
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	color: var(--fontBlack);
}
.shareClose {
	border: var(--primaryColor) solid 1px;
	display: inline-block;
	color: var(--primaryColor);
	padding: 0.5em;
	border-radius: 50%;
	font-size: 1em;
	width: 40px;
	height: 40px;
	margin: 0;
	text-align: center;
	align-self: flex-start;
}
.shareClose:hover {
	cursor: pointer;
	color: #fff;
	background: var(--primaryColor);
}
.newPostFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.newPostFields input[type="text"] {
	height: 2.5em;
	margin: 0.5em auto;
	width: 80%;
	border: var(--mainBorder);
	padding-left: 0.5em;
	font-size: small;
}
.newPostFields input[type="submit"] {
	width: 100px;
	border: var(--mainBorder);
	margin: 1.5em auto 0.5em;
	height: 2em;
	font-family: var(--headingFont);
	color: var(--fontBlack);
}
.newPostFields input[type="submit"]:hover {
	color: #fff;
	background: var(--primaryColor);
	cursor: pointer;
}

/* --- existing posts --- */
.displayPosts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
}
.post {
	border-bottom: var(--mainBorder);
	margin: 0.5em 0 0;
	background: var(--backgroundColor);
	padding-bottom: 1em;
}
.postAndVoteWrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.voteWrap {
	text-align: center;
}
.postWrap {
	padding: 1em 1em 0;
	flex-grow: 1;
}
/* votes */
.voteWrap form {
	display: flex;
	flex-direction: column;
}
.up, .down {
	margin: 0 auto;
	border-top: var(--fontBlack) 2px solid;
	border-left: var(--fontBlack) 2px solid;
	border-radius: 1px;
	transition: margin 0.2s ease-out;
}
.up {
	transform: rotate(45deg);
}
.down {
	transform: rotate(225deg);
}
.votes {
	font-family: var(--headingFont);
	color: var(--fontBlack);
}
.notLoggedIn, .notLoggedInVotes {
	opacity: 0.5;
}
.up:hover, .down:hover {
	cursor: pointer;
	border-color: #778899 !important;
}

/* post content */
.postHeadingWrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 0.5em;
}
.post h4 {
	font-family: var(--headingFont);
	margin: 0;
	color: var(--fontBlack);
}
.post h4 a {
	text-decoration: none;
	color: var(--fontBlack);
}
.postDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.postUser a {
	text-decoration: none;
	color: var(--primaryColor);
}
.post h4 a:hover, .postUser a:hover {
	color: #ff533d;
}
.postContent p, .loginLink {
	font-family: var(--bodyFont);
	font-size: 0.9em;
	margin: 0;
	color: var(--fontBlack);
}
.postContentHide {
	display: none;
}
.postUser {
	margin: 0.5em 0 0;
}
.postUser p {
	font-style: italic;
	font-size: 0.8em;
	color: var(--primaryColor);
	font-family: var(--bodyFont);
}
.postButtons form, .commentSettings {
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 0 0 0.2em 0;
	font-family: var(--headingFont);
	font-size: small;
}
.showPostSettings img {
	width: 15px;
	margin: 0;
	border-radius: 50%;
	transition: transform 0.5s linear;
}
.showPostSettings img:hover {
	cursor: pointer;
	transform: rotate(90deg);
}
.postSettingsButtons {
	display: none;
}
.postSettingsButtonsShow {
	display: inline-block;
	margin: 0;
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 2.5em;
}
.editButton, .deleteButton, .editCommentButton, .deleteComment {
	color: var(--fontBlack);
	font-family: var(--headingFont);
	border: var(--mainBorder);
	background: var(--backgroundColor);
	font-size: small;
	margin-right: 0.3em;
	width: 50px;
	height: 2em;
}
.editButton:hover, .deleteButton:hover,
.editCommentButton:hover, .deleteComment:hover {
	color: #fff;
	background: var(--primaryColor);
	cursor: pointer;
}
/* comments */
.inputComment input[type="text"] {
	height: 2em;
	width: 80%;
	border: var(--mainBorder);
	padding-left: 0.5em;
	font-size: small;
	flex-grow: 1;
}
.inputComment input[type="submit"] {
	border: var(--mainBorder);
	height: 2em;
	margin: 0 0.5em;
	font-size: small;
	color: var(--fontBlack);
	font-family: var(--headingFont);
}
.inputComment input[type="submit"]:hover {
	background: var(--primaryColor);
	color: #fff;
	cursor: pointer;
}
.inputComment {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* hidden form for edit posts */
.editPostForm, .editCommentForm {
	display: none;
}
.editPostFormShow {
	display: block;
	flex-grow: 1;
}
.editCommentFormShow {
	display: block;
}
.editPostForm form {
	font-family: var(--bodyFont);
	font-size: small;
	margin:0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.editCommentForm form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0.6em 0 0.9em;
}
.editInputField {
	display: flex;
	flex-direction: column;
}
.editInputField input[type="text"] {
	height: 2em;
	margin: 0.2em 0 0.5em;
	border: var(--mainBorder);
	padding-left: 0.5em;
	flex-grow: 1;
}
 .editPostForm input[type="submit"] {
	 border: var(--mainBorder);
	 height: 2em;
	 margin: 0.5em auto 0;
	 width: 70px;
 }
 .editCommentForm form input[type="text"] {
	 height: 2em;
	 border: var(--mainBorder);
 	 padding-left: 0.5em;
	 flex-grow: 1;
 }
  .editCommentForm form input[type="submit"] {
		border: var(--mainBorder);
 	  height: 2em;
		margin: 0 0.5em;
		width: 70px;
	}
 .editPostForm input[type="submit"]:hover,
 .editCommentForm form input[type="submit"]:hover {
	 background: var(--primaryColor);
	 color: #fff;
	 cursor: pointer;
 }

/* comments */
.commentLink {
	font-family: var(--headingFont);
	font-size: 0.9em;
	margin: 1em 0.5em 0;
	text-align: right;
	color: #778899;
}
.commentLink:hover {
	color: var(--fontColor);
	cursor: pointer;
}
.comments {
	display: none;
}
.commentsShow {
	display: block;
	margin: 0;
	font-size: small;
	font-family: var(--bodyFont);
}
.comment {
	margin: 0 0 0.5em 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
.commentHide {
	display: none;
}
.commentDiv p {
	margin: 0;
}
.commentContent {
	font-family: var(--bodyFont);
	color: var(--fontBlack);
	font-size: 1em;
	margin: 0.5em 0 0.2em !important;
}
.commentAuthor a {
	text-decoration: none;
	color: var(--primaryColor);
}
.commentAuthor a:hover {
	color: var(--fontColor);
}
.commentInfoAndReply {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
	font-style: italic;
	color: var(--primaryColor);
	font-family: var(--bodyFont);
}
.replyForm form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.replyButton {
	color: var(--primaryColor);
	color: #778899;
}
.replyButton:hover {
	color: var(--secondaryColor);
	cursor: pointer;
}
.replyFields input[type="submit"] {
	border: var(--mainBorder);
	height: 2em;
	margin: 0 0.5em;
	font-size: small;
	color: var(--fontBlack);
	font-family: var(--headingFont);
}
.replyFields input[type="submit"]:hover {
	background: var(--primaryColor);
	color: #fff;
	cursor: pointer;
}
.replyFields input[type="text"] {
	height: 2em;
	border: var(--mainBorder);
	padding-left: 0.5em;
	font-size: small;
	flex-grow: 1;
}
.replyFields {
	display: none;
}
.replyFieldsShow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
}
.replies {
	border-left: var(--mainBorder);
	margin-left: 1em;
	padding-left: 1em;
}
.commentReply {
	margin: 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
.joinAndDiscuss {
	font-family: var(--headingFont);
	color: #778899;
	font-size: 1em;
	margin: 1em 0 0;
}
.joinAndDiscuss:hover {
	cursor: pointer;
	color: var(--fontColor);
}
/* --- display user --- */
.displayUserProfile {
	text-align: center;
}
.displayUserProfile h4 {
	margin: 0;
	font-family: var(--headingFont);
	color: var(--fontBlack);
}
.displayUserProfile h5 {
	margin: 0;
	font-family: var(--headingFont);
	color: var(--primaryColor);
}
.displayUserProfile p {
	font-family: var(--bodyFont);
	color: var(--fontBlack);
	text-align: left;
	font-size: small;
	border-top: var(--mainBorder);
	padding: 0.5em;
}
.displayUserProfile figure {
	margin: 0 auto;
}
.displayUserProfile figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* --- profile page --- */
.profileWrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 1em;
}
.postsOnProfile {
	border-top: var(--mainBorder);
}
/* --- settings page --- */
.settingsWrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 2.5em;
}
.settingsHeading {
	font-family: var(--headingFont);
	margin: 0;
	border-bottom: var(--mainBorder);
}
.settingsForm {
	width:100%;
	display:flex;
	flex-direction: column;
}
.settingsForm h3 {
	font-family: var(--headingFont);
	font-size: 1em;
	margin-bottom: 0.2em;
}
.change {
	padding: 0 2em;
}
.settingsForm input {
	border: var(--mainBorder);
	color: var(--fontBlack);
	font-size: small;
	height: 2em;
	font-family: var(--bodyFont);
	width: 200px;
}
.settingsForm input[type="password"] {
	margin-bottom: 0.5em;
}
.settingsForm input[type="file"] {
	border: none;
}
.settingsForm textarea {
	border: var(--mainBorder);
	color: var(--fontBlack);
	font-size: small;
	height: 5em;
	font-family: var(--bodyFont);
}
.settingsForm input[type="submit"] {
	width: 100px;
}
.settingsForm input[type="submit"]:hover {
	background: var(--primaryColor);
	color: #fff;
}
.placeholderAvatar {
	width: 100px;
	height: 100px;
}
.placeholderAvatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.saveChanges {
	border-top: var(--mainBorder);
	margin-top: 1em;
}

/* --- footer content --- */
.footerLogo {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer img {
	height: 20px;
	padding-right: 0.3em;
}
footer h5 {
	font-family: "Syncopate", sans-serif;
	color: var(--fontBlack);
	margin: 0;
	font-size: 1em;
}
footer p {
	font-size: small;
	color: var(--primaryColor);
	font-family: var(--bodyFont);
	font-style: italic;
	margin: 0;
}

/* --- responsive properties, mobile first --- */
/* header */
header h1 {
	display: none;
}
.leftHeader img {
	height: 35px;
}
.profileLink img {
	height: 35px;
}
.menuLink img {
	height: 25px;
}
.sortPosts input {
	padding: 0.5em;
}
/* navigation */
.menuSlide {
	width: 100%;
	z-index: 50;
}
.forms h3 {
	margin: 1em 0 0;
}
.menu, .forms {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* posts */
.posts {
	width: 100%;
}
.displayPosts {
	width: 100%;
}
.post h4 {
	font-size: 1em;
}
.showPostSettings img {
	width: 15px;
}
.voteWrap {
	padding: 2em 0 0 0.3em;
}
.up, .down {
	width: 0.8em;
	height: 0.8em;
}
.votes {
	font-size: small;
}
/* comments */
.inputComment, .replyForm form, .editCommentForm {
	width: 100%;
}
.commentInfoAndReply {
	flex-direction: column;
}
.commentSettingsButtons {
	bottom: 2.2em;
	right: 2.2em;
}
/* profile page */
.displayUserProfile {
	width: 200px;
	margin: 0;
}
.displayUserProfile figure {
	height: 200px;
	width: 200px;
}
.displayUserProfilePage {
	margin: 0 auto;
}
.displayUserProfilePage p {
	width: 280px;
	margin-left: -40px;
}
/* settingspage */
.displayUserSettings {
	display: none;
}
.settings, .postsOnProfile {
	width: 100%;
}
.settingsForm textarea {
	width: 100%;
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
	.authSlide {
		width: 100% !important;
	}
	.forms h3 {
		margin: 0;
	}
	.forms {
		margin: 0 3em;
		flex-direction: row;
		justify-content: space-around;
	}
}
@media only screen and (min-width: 420px) {
	.leftHeader img {
		height: 45px;
	}
	.sortPosts input {
		height: 45px;
	}
	.profileLink img {
		width: 45px;
		height: 45px;
	}
	.menuLink img {
		height: 35px;
	}
	.sortPosts input {
		padding: 0.5em 1em;
	}
	.menuSlide {
		width: 300px;
	}
	.commentInfoAndReply {
		flex-direction: row;
	}
	.replyButton {
			padding-left: 0.3em;
	}
	.settingsForm textarea {
		width: 70%;
	}
}
@media only screen and (min-width: 600px) {
	.displayUserSettings {
		display: block;
		margin: 0 2em 0 0;
	}
	.settings {
		flex-grow: 1;
	}
	.post h4 {
		font-size: 1.3em;
	}
	.showPostSettings img {
		width: 20px;
	}
	.voteWrap {
		padding: 2em 1em 0;
	}
	.up, .down {
		width: 1.2em;
		height: 1.2em;
	}
	.editPostForm form {
		width: 400px;
	}
	.commentSettingsButtons {
		right: 2.6em;
	}
}
@media only screen and (min-width: 800px) {
	.page, footer {
		width: 90%;
		margin: 0 auto;
	}
	header h1 {
		display: inline-block;
		font-size: 2em;
	}
	.postsOnProfile {
		width: 600px;
	}
	.profileWrap {
		flex-direction: row;
		justify-content: center;
	}
	.displayUserProfile {
		width: 150px;
		margin: 0 2em 0 0;
	}
	.displayUserProfile figure {
		height: 150px;
		width: 150px;
	}
	.displayUserProfilePage p {
		width: auto;;
		margin-left: auto;
	}
	.postContent {
		width: 70%;
	}
	.postsOnProfile .postContent {
		width: 100%;
	}
	.inputComment, .replyForm form, .editCommentForm  {
		width: 70%;
	}
	.postsOnProfile .inputComment {
		width: 100%;
	}
	.commentSettingsButtons {
		bottom: 0;
		right: 2.5em;
	}
}
@media only screen and (min-width: 1000px) {
	.page, footer {
		width: 80%;
	}
	.displayUserProfile {
		width: 200px;
		margin: 0 5em 0 0;
	}
	.displayUserProfile figure {
		height: 200px;
		width: 200px;
	}
}
@media only screen and (min-width: 1200px) {
	.page , footer {
		width: 850px;
	}
}
