/* typography and colors */
:root {
	--headingFont: "Source Sans Pro", sans-serif;
	--bodyFont: Georgia, serif;
	--mainBorder: solid 1px #d3d3d3;
	--primaryColor: #94BBB7;
}

/* --- wrapping --- */
body {
	background: #f1f1f1;
	overflow-x: hidden;
}
.page {
	width: 100%;
	float: left;
	transition: width 0.4s linear;
}
.navigationOpen .page {
	width: 75%;
}

.content {
	padding: 1em 2em;
}

header {
	border-bottom: solid #94BBB7 1px;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
header h1 {
	margin: 0;
	font-size: 1.5em;
	color: #000;
}
header h1 a {
	text-decoration: none;
	color: #000;
}
header nav a {
	text-decoration: none;
	color: #94BBB7;
}
header nav a:hover {
	color: #000;
}

.menuSlide {
	background: var(--primaryColor);
	height: 100vh;
	padding: 3em;
	width: 25%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.4s linear;
}
.navigationOpen .menuSlide {
	transform: translateX(0);
}

.forms input {
	background: #fff;
}
.loginWrap, .registerWrap {
	padding: 1em;
}


/* --- home page --- */
.homeMain {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
/* display user info */
.displayUser {
	width: 200px;
	text-align: center;
}
.displayUser h4, h5 {
	margin: 0;
}
.displayUser figure {
	border: 1px solid gray;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.displayUser figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* new post */
.newPost {
	width: 400px;
	border: solid 1px gray;
}
.newPostFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.newPostFields input {
	height: 2em;
	margin: 0.5em;
	background: #fff;
}
.newPostFields input[type="submit"] {
	width: 100px;
}

/* existing posts */
.displayPosts {
	width: 700px;
}
.postAndVoteWrap {
	width: 700px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.voteWrap {
	padding: 1em 0;
	width: 8%;
	border-right: var(--mainBorder);
	text-align: center;
}
.postWrap {
	width: 92%;
	padding: 1em;
}
.up, .down {
	display: block;
	margin: auto;
	width: 1.2em;
	height: 1.2em;
	border-top: gray 3px solid;
	border-left: gray 3px solid;
	border-radius: 3px;
}
.up {
	transform: rotate(45deg);
}
.down {
	transform: rotate(225deg);
}
.up:hover {
	border-top: lightgreen 3px solid;
	border-left: lightgreen 3px solid;
	cursor: pointer;
}
.down:hover {
	border-top: lightpink 3px solid;
	border-left: lightpink 3px solid;
	cursor: pointer;
}
.post {
	border: var(--mainBorder);
	border-radius: 5px;
	margin: 1em 0;
	background: #fff;
	padding: 0.5em;
}
.postDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.post h4 {
	font-family: var(--headingFont);
	font-size: 1.5em;
	margin: 0.5em;
	border-bottom: var(--mainBorder);
}
.post h4 a, .postUser a {
	text-decoration: none;
	color: #3D3D3D;
}
.post h4 a:hover, .postUser a:hover {
	color: #94BBB7;
}
.postContent p, .loginLink {
	font-family: var(--bodyFont);
	font-size: 0.9em;
	margin: 0 1em;
	color: #6c6c6c;
}
.postContentHide {
	display: none;
}
.postUser {
	margin: 0.5em 0;
	font-size: 0.8em;
	font-style: italic;
	color: #6c6c6c;
	font-family: var(--bodyFont);
}
.postButtons {
	margin: 0.5em;
	font-family: var(--headingFont);
	font-size: small;
}
.showPostSettings img {
	width: 20px;
	margin: 0;
	border-radius: 50%;
	transition: transform 0.5s linear;
}
.showPostSettings img:hover {
	cursor: pointer;
	transform: rotate(90deg);
}
.postSettingsButtons {
	display: none;
}
.postSettingsButtonsShow {
	display: inline-block;
	margin: 0 0.5em;
}
.editButton, .deleteButton {
	border: var(--mainBorder);
	height: 2em;
	margin: 0 0.5em 0 0;
}
.inputComment input[type="text"] {
	height: 2em;
	width: 80%;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
	font-size: small;
}
.inputComment input[type="submit"] {
	border: var(--mainBorder);
	height: 2em;
	margin: 0 0.5em;
	font-size: small;
}
.inputComment input[type="submit"]:hover, .editButton:hover, .deleteButton:hover {
	background: var(--primaryColor);
	color: #fff;
	cursor: pointer;
}
.inputComment {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* hidden form for edit posts */
.editPostForm {
	display: none;
}
.editPostFormShow {
	display: block;
}
.editPostForm form {
	font-family: var(--bodyFont);
	font-size: small;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.editInputField input[type="text"] {
	height: 2em;
	width: 80%;
	margin: 0.5em;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
}
 .editPostForm input[type="submit"] {
	 border: var(--mainBorder);
	 height: 2em;
	 margin: 0;
	 width: 70px;
 }
 .editPostForm input[type="submit"]:hover {
	 background: var(--primaryColor);
	 color: #fff;
	 cursor: pointer;
 }

/* comments */
.commentCount {
	font-family: var(--bodyFont);
	font-size: small;
	margin: 1em;
}
.commentCount a {
	text-decoration: none;
	color: gray;
}
.commentCount a:hover {
	color: var(--primaryColor);
}
.comments {
	display: none;
}
.commentsShow {
	display: block;
	margin: 1em;
	font-size: small;
	border-top: var(--mainBorder);
	font-family: var(--bodyFont);
}
.comment {
	margin: 0 0 0.5em 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
.commentHide {
	display: none;
}
.commentContent {
	margin-bottom: 0;
}
.commentPublished {
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
}
.editCommentForm {
	display: none;
}
.editCommentFormShow {
	display: block;
}
.replyForm form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.replyButton, .replyFields input[type="submit"] {
	border: var(--mainBorder);
	height: 2em;
	margin-right: 0.5em;
}
.replyButton:hover, .replyFields input[type="submit"]:hover {
	background: var(--primaryColor);
	color: #fff;
	cursor: pointer;
}
.replyFields input[type="text"] {
	height: 2em;
	background: #f1f1f1;
	border: var(--mainBorder);
	padding-left: 0.5em;
	margin-right: 0.5em;
}
.replyFields {
	display: none;
}
.replyFieldsShow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.commentReply {
	border-top: var(--mainBorder);
	margin: 0 0 1em 2em;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

/* --- profile page --- */
.profileWrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.displayUserProfile {
	width: 200px;
	margin: 0 2em;
	text-align: center;
}
.displayUserProfile h4, h5 {
	margin: 0;
}
.displayUserProfile figure {
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.displayUserProfile figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* --- settings page --- */
.settingsForm {
	width: 60%;
}
.settingsForm input, textarea {
	border: var(--mainBorder);
	color: gray;
}
.placeholderAvatar {
	width: 200px;
	height: 200px;
	border: var(--mainBorder);
}
.placeholderAvatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
